{% extends "base.html" %}
{% load static %}
{% block title%}Communauté{% endblock title %}
{% block csslink %}<link rel="stylesheet" href="{% static 'style/communaute.css' %}">{% endblock csslink %}
{% block navcontent %}
    <ul>
        <li><a href="{% url "Accueil" %}" class="">Accueil</a></li>
        <li><a href="{% url "Communaute" %}" class='activelink'>Communauté</a></li>
        <li><a href="{% url "voirplus" %}">Activités</a></li>
        <li><a href="{% url "Contact" %}">Contact</a></li>
    </ul>
    <button class="button">Déconnexion</button>
    <i class="fa-solid fa-bars" id="menu"></i>
{% endblock navcontent %}
{% block sections %}
    <div class="contents">
        <div class="presentation">
            <h1>La communauté du cénacle</h1>
            <h2>Souhaitiez-vous nous rejoindre?</h2>
        </div>
        <div class="section_bibli">
            <div class="left">
                <p>Actes 2:46</p>
                <h2>La Parole de Dieu nous dit ceci:</h2>
                <h3>Ils étaient chaque jour tous ensemble assidus au temple, ils rompaient le pain dans les maisons, et prenaient leur nourriture avec joie et simplicité de coeur,</h3>
            </div>
            <div class="right">
                <div class="circle"><i class="fa-solid fa-fire"></i></div>
                <div class="circle"><i class="fa-solid fa-book-bible"></i></div>
                <div class="circle"><i class="fa-regular fa-face-grin-beam"></i></div>
                <img src="{% static 'photos/bible1.png' %}" alt="bible" width="300px">
            </div>
        </div>
        <div class="communaute">
                {% for membre in membres  %}
                    <div class="each_member">
                        <div class="photo">
                            <img src="{{membre.photo.url}}" alt="photo_membre" width="50px">
                        </div>
                        <div class="text">
                            <h3>{{membre.nom_membre}}</h3>
                            <h3>{{membre.postnom_membre}}</h3>
                            <p>{{membre.statut}}</p>
                        </div>
                    </div>
                    {% empty %}
                    <h2 class="empty">Aucun membre n'a été ajouté</h2>
                {% endfor %}
        </div>
    </div>
{% endblock sections %}

