{% extends "base.html" %}
{% load static %}
{% block title%}Communauté{% endblock title %}
{% block csslink %}<link rel="stylesheet" href="{% static 'style/communaute.css' %}">{% endblock csslink %}
{% block navcontent %}
    <ul>
        <li><a href="{% url "Accueil" %}" class="">Accueil</a></li>
        <li><a href="{% url "Communaute" %}" class='activelink'>Communauté</a></li>
        <li><a href="{% url "voirplus" %}">Activités</a></li>
        <li><a href="{% url "Contact" %}">Contact</a></li>
    </ul>
    <button class="button">Déconnexion</button>
    <i class="fa-solid fa-bars" id="menu"></i>
{% endblock navcontent %}
{% block sections %}
        <swiper-container class="mySwiper" pagination="true" pagination-clickable="true" space-between="30" effect="fade"
            navigation="false" autoplay="true" autoplay-delay="4500"  pagination-type="progressbar">
            <swiper-slide>
            <img src="{% static 'photos/communaute.jpg' %}" />
            </swiper-slide>
            <swiper-slide>
            <img src="https://swiperjs.com/demos/images/nature-2.jpg" />
            </swiper-slide>
            <swiper-slide>
            <img src="https://swiperjs.com/demos/images/nature-3.jpg" />
            </swiper-slide>
            <swiper-slide>
            <img src="https://swiperjs.com/demos/images/nature-4.jpg" />
            </swiper-slide>
        </swiper-container>
        <div class="text">
                    <h2>Service de montage vidéo</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat alias veniam, cum numquam nulla eligendi! Repellat asperiores dicta totam qui! Officiis sequi quibusdam inventore facere ratione corporis nostrum molestiae laborum.</p>
        </div>

    <div class="ouvriers">
        <h2>Ouvriers</h2>
    </div>
    <div class="integrants">
        <h2>Intégrants</h2>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, quisquam alias voluptas aperiam incidunt facilis! Distinctio provident reiciendis porro placeat nesciunt, nulla quae, perferendis, in molestias quaerat corrupti enim. Quibusdam.
    </div>
{% endblock sections %}

