{% extends "base.html" %}
{% block title%}{% endblock title %}
{% load static %}
{% block csslink %}<link rel="stylesheet" href="{% static 'style/contact.css' %}">{% endblock csslink %}
{% block navcontent %}
    <ul>
        <li><a href="{% url "Accueil" %}">Accueil</a></li>
        <li><a href="{% url "Communaute" %}">Communauté</a></li>
        <li><a href="{% url "voirplus" %}">Activités</a></li>
        <li><a href="{% url "Contact" %}" class='activelink'>Contact</a></li>
    </ul>
    <button class="button">Déconnexion</button>
    <i class="fa-solid fa-bars" id="menu"></i>
{% endblock navcontent %}
{% block headercontent %}
    <div class="contact">
        <div class="text">
            <h1>Contactez notre département</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit quis architecto accusamus ullam consectetur. Itaque repellendus assumenda beatae, cumque quia et, deleniti quam officia laborum nisi in quos, odio ab!</p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d63655.41588980038!2d15.2823553!3d-4.3236884!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1a6a31005d0a1245%3A0xa8512ee1787c017d!2sRond%20point%20huilerie!5e0!3m2!1sen!2scd!4v1773781958488!5m2!1sen!2scd" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="contactbox">
            <form action="">
                {% csrf_token %}
                <h2><span class="star">Ms</span>Envoyez un message <span class="star">Ms</span></h2>              
                <label for="name" id="name">Nom Utilisateur</label>
                <input type="text" id="name" name="name" required>
                
                <label for="postname" id="postname">Post-Nom</label>
                <input type="text" id="postname" name="postname" required>
                
                <label for="pren" id="pren">Prénom</label>
                <input type="text" id="pren" name="pren" required>
                
                <label for="num">Tel</label>
                <input type="tel" id="num" name="num" required>
                
                <label for="mail">Email</label>
                <input type="email" id="mail" name="mail" required>

                <label for="Ad">Adresse</label>
                <input type="text" id="Ad" name="Ad" required>
                
                <label for="password" id="password">Mot de passe</label>
                
                <input type="password" id="password" name="password" required>
            
                <button type="submit" class="btnconnect button">S'enregistrer</button><br><br>
                <p>Veuillez enregistrer vos informations <br><span><strong>Pour plus de détail</strong><br><span><a href="{% url "Politiques" %}" class="politique">Consultez notre politique de confidentialité</a></span></span>, <span>  <a href="{% url "login" %}" class="pas_de_compte">se connecter</a></span></p
            </form>
            
        </div>
    </div>
{% endblock headercontent %}