{% extends "base.html" %}
{% load static %}
{% block csslink %}<link rel="stylesheet" href="{% static 'style/politique.css' %}">{% endblock csslink %}
{% block title%}Politique{% endblock title %}
{% block headercontent %}
    <header>
        <nav>
            <div class="btnretour"></div>
        </nav>
        <h1>Politique de Confidentialité</h1>
        <h3>Découvrir la politique</h3>
        <details>
            <summary>
                Qu'est-ce que la Politique de Confidentialité et que couvre-t-elle?
            </summary>
            <p>
                <Strong>En théorie</Strong>
            </p>
            <ul>
                <li>La Politique de Confidentialité du Cénacle explique comment nous recueillons, utilisons et partageons vos informations. Elle décrit également la durée de conservation de vos informations et la manière dont nous les protégeons au moment du transfert.</li>
                <li>La Politique de Confidentialité vous permet également de connaître vos droits.</li>
                <li></li>
            </ul>
        </details>
        <details>
            <summary>
                Quelles informations recueillons-nous?
            </summary>
            <p><strong>Au sens du terme</strong><br> La présente politique énumère les types d'informations que nou recueillons. Voici certains des plus importants. Nous recueillons:</p>
            <ul>
                <li>Les informations que vous nous donner lorsque vous vous enregistrés et entrez votre nom, post-nom, prenom, numéro de telphone, mot de passe, l'adresse mail ou votre adresse.</li>
                <li>Ces informations proviennent soit des création des comptes par un agent internet ou par sois mêmê</li>
            </ul>
        </details>
        <details>
            <Summary>
                Comment partageons-nous vos informations
            </Summary>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint quasi cupiditate illum? Quidem ducimus voluptatem libero. Fuga nostrum, deserunt autem ex saepe vitae, architecto, quam magni facilis quis minima? Magnam!
            </p>
        </details>
        <details>
            <Summary>
                Combien de temps conservons-nous vos informations?
            </Summary>
            <p></p>
        </details>
        <details>
            <Summary>
                Comment saurez-vous que la Politique a été modifiée?
            </Summary>

            <p></p>
        </details>

    </header>
{% endblock headercontent %}
{% block sections %}
    <h4>Autres politiques</h4>
    <a href="">Conditions de service</a>
    <a href="">Politique d'utilisation des cookies</a>
{% endblock sections %}