{% extends "base.html" %}
{% load static %}
{% block csslink %}<link rel="stylesheet" href="{% static 'style/politique.css' %}">{% endblock csslink %}
{% block title%}Politique{% endblock title %}
{% block navcontent %}
    <a href="{% url "login" %}" class="button">Rétour</a>
{% endblock navcontent %}
{% block headercontent %}
    <div class="contents">
        <h1>Politique de Confidentialité</h1>
        <h3>Découvrir la politique</h3>
        <details>
            <summary>
                Qu'est-ce que la Politique de Confidentialité et que couvre-t-elle?
            </summary>
            <p>
                <Strong>En théorie</Strong>
            </p>
            <ul>
                <li>La Politique de Confidentialité du Cénacle explique comment nous recueillons, utilisons et partageons vos informations. Elle décrit également la durée de conservation de vos informations et la manière dont nous les protégeons au moment du transfert.</li>
                <li>La Politique de Confidentialité vous permet également de connaître vos droits.</li>
                <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi repudiandae sapiente voluptas reiciendis perspiciatis blanditiis earum facere harum. Autem dolorum at voluptatem illo minus, dignissimos quo numquam voluptatibus tempora enim.</li>
            </ul>
        </details>
        <details>
            <summary>
                Quelles informations recueillons-nous?
            </summary>
            <p><strong>Au sens du terme</strong><br> La présente politique énumère les types d'informations que nou recueillons. Voici certains des plus importants. Nous recueillons:</p>
            <ul>
                <li>Les informations que vous nous donner lorsque vous vous enregistrés et entrez votre nom, post-nom, prenom, numéro de telphone, mot de passe, l'adresse mail ou votre adresse.</li>
                <li>Ces informations proviennent soit des création des comptes par un agent internet ou par sois mêmê</li>
            </ul>
        </details>
        <details>
            <Summary>
                Comment partageons-nous vos informations
            </Summary>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint quasi cupiditate illum? Quidem ducimus voluptatem libero. Fuga nostrum, deserunt autem ex saepe vitae, architecto, quam magni facilis quis minima? Magnam!
            </p>
        </details>
        <details>
            <Summary>
                Combien de temps conservons-nous vos informations?
            </Summary>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur natus veniam ea itaque vero. Repudiandae soluta optio autem vel voluptatem officiis exercitationem facere dolorem et, illo dolore tempora, at enim?</p>
        </details>
        <details>
            <Summary>
                Comment saurez-vous que la Politique a été modifiée?
            </Summary>

            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi consequuntur quidem facere atque perspiciatis quae dolorum nam illum voluptatibus distinctio accusamus, dicta consectetur animi aspernatur neque molestias hic repellendus exercitationem.</p>
        </details>
    </div>
{% endblock headercontent %}
{% block sections %}
    <div class="bottomtxt">
        <h4>Autres politiques</h4>
        <a href="">Conditions de service</a>
        <a href="">Politique d'utilisation des cookies</a>
    </div>
{% endblock sections %}