{% extends "base.html" %}
{% load static %}
{% block title %}Mon Profil{% endblock title %}
{% block animate %}
        <script src="{% static 'js/style.js' %}" defer></script>
{% endblock animate %}
{% block csslink %}
    <link rel="stylesheet" href="{% static 'style/profil.css' %}">
    <link rel="stylesheet" href="{% static 'style/media.css' %}">
{% endblock csslink %}
{% block navcontent %}
    <ul>
        <li><a href="{% url "Accueil" %}">Accueil</a></li>
        <li><a href="{% url "Communaute" %}">Communauté</a></li>
        <li><a href="{% url "voirplus" %}">Activités</a></li>
        <li><a href="{% url "profil" %}" class='activelink'>Profil</a></li>
    </ul>
    <form method="POST" action="{% url "logout" %}">
        {% csrf_token %}
        <button type="submit" class="button">Déconnexion</button>
    </form>
    <i class="fa-solid fa-bars" id="menu"></i>
{% endblock navcontent %}
{% block sections %}
    <div class="container">
    <h1>Mon Profil</h1>
    <div class="profile-info">
        <form action="" enctype="multipart/form-data">
            <div class="img">
                {% if profil.photo and profil.photo.url %}
                    <img src="{{ profil.photo.url }}" alt="Image de profil" width="100%">
                {% else %}
                    <img src="{% static 'photos/default.png' %}" alt="Image par défaut" width="100%">
                {% endif %}
            </div>
            <div class="bottom">
                <p><strong>Nom d'utilisateur:</strong> {{ user.username }}</p>
                <p><strong>Email:</strong> {{ user.email }}</p>
                <p><strong>Postnom:</strong> {{ profil.postnom }}</p>
                <p><strong>Date de naissance:</strong> {{ profil.datenais }}</p>
                <p><strong>Numéro de téléphone:</strong> {{ profil.numero }}</p>
                <button type="submit" class="modifbtn">Modifier</button>
            </div>
        </form>
    </div>
</div>
{% endblock sections %}