{% extends "base.html" %}
{% load static %}
{% block title%}Activités{% endblock title %}
{% block csslink %}<link rel="stylesheet" href="{% static 'style/formation.css' %}">{% endblock csslink %}
{% block navcontent %}
                        <ul>
                            <li><a href="{% url "Accueil" %}">Accueil</a></li>
                            <li><a href="{% url "Communaute" %}">Communauté</a></li>
                            <li><a href="{% url "voirplus" %}" class="activelink">Activités</a></li>
                            <li><a href="{% url "Contact" %}">Contact</a></li>
                        </ul>
                    <button class="button">Déconnexion</button>
                    <i class="fa-solid fa-bars" id="menu"></i>
                    {% endblock navcontent %}
{% block sections %}
    <div class="Activites">
            <div class="title">
                <div class="left">
                    <h2>Nos Activité</h2>
                    <p>Des moments d'enseignement pour approfondir la parole de Dieu et fortifier votre foi.</p>
                </div>
            </div>
        <div class="boxs">
            {% for activite in activites %}
                <div class="box">
                    <img src="{{activite.img.url}}" alt="Activité">
                    <h3 class="titre">{{activite.titre}}</h3>
                    <h3>{{activite.description_de_la_formation}}</h3>
                    <div class="down">
                        <a href="">{{activite.date}}</a>
                        <p><span><i class="fa-solid fa-user"></i></span> {{activite.nombre_participants}}</p>
                    </div>
                </div>
                {% empty %}
                <h2 class="empty">Aucune Activié n'est disponible.</h2>
            {% endfor %}
        </div>

    </div>
{% endblock sections %}