{% extends "base.html" %}
{% load static %}
{% block title%}Changement mot de passe{% endblock title %}
{% block csslink %}<link rel="stylesheet" href="{% static 'style/admin/connection.css' %}">{% endblock csslink %}
{% block sections %}
    <div class="container">
        <div class="form">
            <h2>Mot de passe</h2>
            <form method="post">
                {% csrf_token %}
                <input type="text" name="username" placeholder="Nom d'utilisateur" required>
                <input type="password" name="password" placeholder="Mot de passe" required>
                <button type="submit">Valider</button>
            </form>
        </div>
    </div>
{% endblock sections %}