{% extends "base.html" %}
{% load static %}
{% block title%}Connexion Admin{% endblock title %}
{% block csslink %}<link rel="stylesheet" href="{% static 'style/admin/connection.css' %}">{% endblock csslink %}
{% block sections %}
    <div class="container">
        <div class="form">
            <h2>Connexion Admin</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Se connecter</button>
                <a href="{% url "changer_mp" %}">Changer de mot de passe</a>
            </form>
            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <div class="message {{ message.tags }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock sections %}