{% extends "admin/baseAdmin.html" %}
{% load static %}
{% block title%}Membres enregistres{% endblock title %}
{% block aside %}
    <nav>
        <div class="logo"><img src="{% static 'photos/logo.jpg' %}" alt=""></div>
        <ul>
            <li><a href="{% url 'admin_membres' %}"><span><i class="fa-solid fa-person-circle-plus"></i></span></a></li>
            <li><a href="{% url 'admin_activites' %}" class="active"><span><i class="fa-solid fa-chart-line"></i></span></a></li>
            <li><a href="{% url 'admin_versets' %}"><span><i class="fa-solid fa-book-bible"></i></span></a></li>
            <li><a href="{% url 'Admin' %}"><span><i class="fa-solid fa-square-poll-vertical" ></i></span></a></li>
        </ul>
        <div class="add"><i class="fa-solid fa-plus"></i></div>
    </nav>
{% endblock aside %}
{% block sections %}
    {% if messages %}
        {% for message in messages  %}
            <div class="message">{{message}}</div>
        {% endfor %}
    {% endif %}
    <div class="container">
        <h2>Activités</h2>
        <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}             
            {{form.as_p}}
            <button type="submit">Enregistrer</button>
    </form>
    </div>
{% endblock sections %}