{% extends "admin/baseAdmin.html" %}
{% load static %}
{% block aside %}
    <nav>
        <div class="logo"><img src="{% static 'photos/logo.jpg' %}" alt="logo"></div>
        <ul>
            <li><a href="{% url 'admin_membres' %}"><span><i class="fa-solid fa-person-circle-plus"></i></span></a></li>
            <li><a href="{% url 'admin_activites' %}"><span><i class="fa-solid fa-chart-line"></i></span></a></li>
            <li><a href="{% url 'admin_versets' %}" class="active"><span><i class="fa-solid fa-book-bible"></i></span></a></li>
            <li><a href="{% url 'Admin' %}"><span><i class="fa-solid fa-square-poll-vertical" ></i></span></a></li>
        </ul>
        <div class="add"><i class="fa-solid fa-plus"></i></div>
    </nav>
{% endblock aside %}
{% block headercontent %}
    {% if messages %}
        {% for message in messages  %}
            <div class="message">{{message}}</div>
        {% endfor %}
    {% endif %}
    <div class="content">
        <h1>GESTION VERSETS BIBLIQUES</h1>
        <p>Gérez les versets bibliques que vous souhaitiez rajouter à la base de données du cénacle.</p>
    </div>
{% endblock headercontent %}
{% block sections %}
    <section class="admin-dashboard">
        <div class="admin-content">
            <h2>Tableau Enregistrement versets</h2>
            <p>Utilisez les options ci-dessus pour gérer les différentes sections de la communauté du cénacle.</p>
        </div>
        <dialog>
            <form enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                <div id="close"><i class="fa-solid fa-x"></i></div>
                 <div class="logo"><img src="{% static 'photos/logo.jpg' %}" alt="logo"></div>            
                {{form.as_p}}
                <button type="submit">Enregistrer</button>
            </form>
        </dialog>
        </div>
    </section>
{% endblock sections %}