 :root{
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --success-color: #28a745;
    --danger-color: #dc3545;
    --warning-color: #ffc107;
    --info-color: #17a2b8;
    --light-color: #f8f9fa;
    --dark-color: #343a40;
    --txt-color:#000;
    --borderadius-btn:15px;
    padding: min(1.5rem,10%);
 }
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: none;
    text-decoration: none;
    list-style-type: none;
 }
 body{
    overflow-x: hidden;
    color: var(--txt-color);
    width: 100%;
}
body::-webkit-scrollbar{
   width: 8px;
}
body::-webkit-scrollbar-thumb{
   background: var(--primary-color);
   border-radius: 10%;
   -webkit-border-radius: 10%;
   -moz-border-radius: 10%;
   -ms-border-radius: 10%;
   -o-border-radius: 10%;
   transition: .9s;
   -webkit-transition: .9s;
   -moz-transition: .9s;
   -ms-transition: .9s;
   -o-transition: .9s;
   cursor: pointer;
}
body::-webkit-scrollbar-thumb:hover{
   background: var(--info-color);
}
body::-webkit-scrollbar-track{
   background: var(--light-color);
}

header{
    background: var(--light-color);
    box-shadow: 6px 3px 10px rgba(0,0,0,0.1);
    width: 100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    text-align:center;
    position: fixed;
    z-index:1000;
    top:0;
    left:0;
    padding:.5rem;

}
#menu{
    display:none;
    font-size: 1.5rem;
    cursor: pointer;
}
.logo img{
    width: min(100px,15vw);
    height: min(100px,15vw);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
nav{
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    gap:1rem;
}
ul{
    display:flex;
    flex-direction: row;
    gap:1rem;
}
li a{
    font-size: clamp(1.2rem,1vw,1rem);
    color: var(--txt-color);
    transition: all 0.3s ease;
    position: relative;
}
li a::before{
    content: '';
    position: absolute;
    width: 0;
    height: 5px;
    background: var(--primary-color);
    bottom: -5px;
    left: 0;
    transition: all 0.3s ease;
}
li a:hover::before{
    width: 100%;
}
.activelink{
   position: relative;
}
.activelink::before{
   content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    background: var(--primary-color);
    bottom: -5px;
    left: 0;
}
.button{
    cursor: pointer;
    background: var(--primary-color);
    color: #fff;
    padding: .5rem 1rem;
    border-radius: var(--borderadius-btn);
    transition: all 0.3s ease;
}
.button:hover{ 
    background: var(--primary-color);
    color: #fff;
    padding: .5rem 1rem;
    border-radius: var(--borderadius-btn);
    box-shadow: 3px 3px 10px rgba(0,0,0,0.1); 
}
.contents{
   padding: 7rem 1rem 0 1rem;
}
h1{
   font-size: clamp(1.3rem,4vw,2rem);
   text-align: center;
   color: var(--light-color);
   letter-spacing: 2px;
}
.pres{
   background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('../photos/bgpres.jpg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   padding: 5rem 1rem;
   border-radius: var(--borderadius-btn);
   -webkit-border-radius: var(--borderadius-btn);
   -moz-border-radius: var(--borderadius-btn);
   -ms-border-radius: var(--borderadius-btn);
   -o-border-radius: var(--borderadius-btn);
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.pres p{
   color: var(--light-color);
}
.btns{
   display:flex;
   flex-direction:column;
   gap:1rem;
   justify-content: center;
   align-items:center;
   text-align:center;
}
.btns a{
   margin-right: 1rem;
   color: var(--light-color);
}
.btns a:nth-child(1){
   background: var(--info-color);
   padding:.5rem 1rem;
   border-radius: var(--borderadius-btn);
   -webkit-border-radius: var(--borderadius-btn);
   -moz-border-radius: var(--borderadius-btn);
   -ms-border-radius: var(--borderadius-btn);
   -o-border-radius: var(--borderadius-btn);
   transition: .7s;
   -webkit-transition: .7s;
   -moz-transition: .7s;
   -ms-transition: .7s;
   -o-transition: .7s;
}
.btns a:nth-child(1):hover{
   background: var(--light-color);
   color: var(--info-color);
}
.btns a:nth-child(1) span{
   margin-right: .5rem;
}
.btns a:nth-child(2){
   background: #f8f9fa60;
   padding:.5rem 1rem;
   border-radius: var(--borderadius-btn);
   -webkit-border-radius: var(--borderadius-btn);
   -moz-border-radius: var(--borderadius-btn);
   -ms-border-radius: var(--borderadius-btn);
   -o-border-radius: var(--borderadius-btn);
   border: 2px solid var(--light-color);
   backdrop-filter: blur(10px);
   transition: backdrop-filter 1s ;
   -webkit-transition: backdrop-filter 1s ;
   -moz-transition: backdrop-filter 1s ;
   -ms-transition: backdrop-filter 1s ;
   -o-transition: backdrop-filter 1s ;
}
.btns a:nth-child(2):hover{
   backdrop-filter: blur(0);
}

    swiper-container {
      width: 100%;
      height: 100%;
    }
    swiper-slide {
      background-position: center;
      background-size: cover;
    }

    swiper-slide img {
      display: block;
      width: 100%;
    }
    swipper-slider img{
        border-radius: var(--borderadius-btn);
        -webkit-border-radius: var(--borderadius-btn);
        -moz-border-radius: var(--borderadius-btn);
        -ms-border-radius: var(--borderadius-btn);
        -o-border-radius: var(--borderadius-btn);
        aspect-ratio: 1/1;
}
    .communaute{
        padding: 6rem 0 0 0;
        display: grid;
        grid-template-columns: repeat(3fr, 100%);
    }

    .communaute{
        height: 100%;
        width: 100%;
    }


 footer{
    width: 100%;
    height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
    gap: 1rem;
    color: var(--secondary-color);
}
footer a,footer p{
    font-size: clamp(.8rem,1vw,1.1rem);
}
@media(max-width:850px){
    #menu{
        display:block;
    }
    nav ul{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: var(--light-color);
        flex-direction: column;
        align-items: center;
        gap: 0;
        display:none;
    }
    nav ul.active{
        display:flex;
        transition:  1s ease;
        -webkit-transition:  1s ease;
        -moz-transition:  1s ease;
        -ms-transition:  1s ease;
        -o-transition:  1s ease;
}
    .rgba{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.5);
        display: none;
        z-index: 500;
        cursor: pointer;
    }
    .rgba.active{
        display: block;
        transition: all 0.9s ease;
        -webkit-transition: all 0.9s ease;
        -moz-transition: all 0.9s ease;
        -ms-transition: all 0.9s ease;
        -o-transition: all 0.9s ease;
    }
    .box{
      width: 200px;
    }
    .members{
      overflow: scroll;
    }
    .members::-webkit-scrollbar{
      display: none;
    }
}
