 :root{
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --success-color: #28a745;
    --danger-color: #dc3545;
    --warning-color: #ffc107;
    --info-color: #17a2b8;
    --light-color: #f8f9fa;
    --dark-color: #343a40;
    --txt-color:#000;
    --borderadius-btn:15px;
    padding: min(1.5rem,10%);
 }
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: none;
    text-decoration: none;
    list-style-type: none;
 }
 body{
    overflow-x: hidden;
    color: var(--txt-color);
    width: 100%;
}
body::-webkit-scrollbar{
   width: 8px;
}
body::-webkit-scrollbar-thumb{
   background: var(--primary-color);
   border-radius: 10%;
   -webkit-border-radius: 10%;
   -moz-border-radius: 10%;
   -ms-border-radius: 10%;
   -o-border-radius: 10%;
   transition: .9s;
   -webkit-transition: .9s;
   -moz-transition: .9s;
   -ms-transition: .9s;
   -o-transition: .9s;
   cursor: pointer;
}
body::-webkit-scrollbar-thumb:hover{
   background: var(--info-color);
}
body::-webkit-scrollbar-track{
   background: var(--light-color);
}

header{
    background: var(--light-color);
    box-shadow: 6px 3px 10px rgba(0,0,0,0.1);
    width: 100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    text-align:center;
    position: fixed;
    z-index:1000;
    top:0;
    left:0;
    padding:.3rem;
}
nav{
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    gap:1rem;

}
#menu{
    display:none;
    font-size: 1.5rem;
    cursor: pointer;
}
.logo img{
    width: min(100px,15vw);
    height: min(100px,15vw);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

ul{
    display:flex;
    flex-direction: row;
    gap:1rem;
}
li a{
    font-size: clamp(1.2rem,1vw,1rem);
    color: var(--txt-color);
    transition: all 0.3s ease;
    position: relative;
}
li a::before{
    content: '';
    position: absolute;
    width: 0;
    height: 5px;
    background: var(--primary-color);
    bottom: -5px;
    left: 0;
    transition: all 0.3s ease;
}
li a:hover::before{
    width: 100%;
}
.activelink{
   position: relative;
}
.activelink::before{
   content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    background: var(--primary-color);
    bottom: -5px;
    left: 0;
}
.button{
    cursor: pointer;
    background: var(--primary-color);
    color: #fff;
    padding: .5rem 1rem;
    border-radius: var(--borderadius-btn);
    transition: all 0.3s ease;
}
.button:hover{ 
    background: var(--primary-color);
    color: #fff;
    padding: .5rem 1rem;
    border-radius: var(--borderadius-btn);
    box-shadow: 3px 3px 10px rgba(0,0,0,0.1); 
}
.contact{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
    gap:.5rem;
    place-items: center;
    padding: 6rem 0 0 0;
}
.text{
    padding: min(1rem,9%);
    width: 100%;
    padding: .3rem;
}
iframe{
    width: 100%;
}
.contactbox{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
    padding: .5rem;
    place-items: center;
}

form{
    width: min(450px, 90%);
    background: var(--light-color);
    box-shadow: 4px 4px 9px rgba(0,0,0,0.5);
    padding: min(2rem, 9%);
    border-radius: var(--borderadius-btn);
    -webkit-border-radius: var(--borderadius-btn);
    -moz-border-radius: var(--borderadius-btn);
    -ms-border-radius: var(--borderadius-btn);
    -o-border-radius: var(--borderadius-btn);
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: relative;
    animation: translateAnimation 6s linear infinite alternate;
    -webkit-animation: translateAnimation 6s linear infinite alternate;
}
@keyframes translateAnimation {
    from{
        transform: translateY(10px);
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
}
    to{
        transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -o-transform: translateY(-10px);
        box-shadow: 3px 3px 14px rgba(0,0,0,0.5);
}
}
form h2{
    text-align: center;
    margin-bottom:1rem ;
}
form a:hover{
    text-decoration: underline;
}
 input{
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--dark-color);
    border-radius: var(--borderadius-btn);
    margin-bottom: 1rem;
    -webkit-border-radius: var(--borderadius-btn);
    -moz-border-radius: var(--borderadius-btn);
    -ms-border-radius: var(--borderadius-btn);
    -o-border-radius: var(--borderadius-btn);
}
 footer{
    margin-top: 1rem;
    width: 100%;
    height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
    gap: 1rem;
    color: var(--secondary-color);
}
footer a,footer p{
    font-size: clamp(.8rem,1vw,1.1rem);
}
@media(max-width:850px){
    #menu{
        display:block;
    }
    ul{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: var(--light-color);
        flex-direction: column;
        align-items: center;
        gap: 0;
        display:none;
    }
     ul.active{
        display:flex;
        transition:  1s ease;
        -webkit-transition:  1s ease;
        -moz-transition:  1s ease;
        -ms-transition:  1s ease;
        -o-transition:  1s ease;
}
    .rgba{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.5);
        display: none;
        z-index: 500;
        cursor: pointer;
    }
    .rgba.active{
        display: block;
        transition: all 0.9s ease;
        -webkit-transition: all 0.9s ease;
        -moz-transition: all 0.9s ease;
        -ms-transition: all 0.9s ease;
        -o-transition: all 0.9s ease;
    }
    
}
