 :root{
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --success-color: #28a745;
    --danger-color: #dc3545;
    --warning-color: #ffc107;
    --info-color: #17a2b8;
    --light-color: #f8f9fa;
    --dark-color: #343a40;
    --txt-color:#000;
    --borderadius-btn:15px;
    padding: min(1.5rem,10%);
 }
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: none;
    text-decoration: none;
    list-style-type: none;
 }
 body{
    overflow-x: hidden;
    color: var(--txt-color);
    width: 100%;
}
body::-webkit-scrollbar{
   width: 8px;
   height: 8px;
}
body::-webkit-scrollbar-thumb{
   background: var(--primary-color);
   border-radius: 10%;
   -webkit-border-radius: 10%;
   -moz-border-radius: 10%;
   -ms-border-radius: 10%;
   -o-border-radius: 10%;
   transition: .9s;
   -webkit-transition: .9s;
   -moz-transition: .9s;
   -ms-transition: .9s;
   -o-transition: .9s;
   cursor: pointer;
}
body::-webkit-scrollbar-thumb:hover{
   background: var(--info-color);
}
body::-webkit-scrollbar-track{
   background: var(--light-color);
}


header{
    background: var(--light-color);
    box-shadow: 6px 3px 10px rgba(0,0,0,0.1);
    width: 100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    text-align:center;
    position: fixed;
    z-index:1000;
    top:0;
    left:0;
    padding:.5rem;

}
#menu{
    display:none;
    font-size: 1.5rem;
    cursor: pointer;
}
.logo img{
    width: min(100px,15vw);
    height: min(100px,15vw);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
nav{
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    gap:1rem;
}
ul{
    display:flex;
    flex-direction: row;
    gap:1rem;
}
li a{
    font-size: clamp(1.2rem,1vw,1rem);
    color: var(--txt-color);
    transition: all 0.3s ease;
    position: relative;
}
li a::before{
    content: '';
    position: absolute;
    width: 0;
    height: 5px;
    background: var(--primary-color);
    bottom: -5px;
    left: 0;
    transition: all 0.3s ease;
}
li a:hover::before{
    width: 100%;
}
.button{
    cursor: pointer;
    background: var(--primary-color);
    color: #fff;
    padding: .5rem 1rem;
    border-radius: var(--borderadius-btn);
    transition: all 0.3s ease;
}
.button:hover{ 
    background: var(--primary-color);
    color: #fff;
    padding: .5rem 1rem;
    border-radius: var(--borderadius-btn);
    box-shadow: 3px 3px 10px rgba(0,0,0,0.1); 
}
.aide{
    padding-top: 7rem;
}
.aide h1{
    font-size: clamp(1.5rem,2vw,2rem);
    text-align: start;
    margin-bottom: 1rem;
    border-bottom: 5px solid var(--primary-color);
}
summary a{
    color: var(--primary-color);
    font-size: 1rem;
}
summary a:hover{
    text-decoration: underline;
}
 footer{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(min(150px,70%),1fr));
    align-items: center;
    place-items: center;
    padding: .5rem;
    margin-top: 3rem;
}
footer a,footer p{
    font-size: clamp(.8rem,1vw,1.1rem);
}
@media(max-width:850px){
    #menu{
        display:block;
    }
    nav ul{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: var(--light-color);
        flex-direction: column;
        align-items: center;
        gap: 0;
        display:none;
    }
    nav ul.active{
        display:flex;
        transition: all 0.9s ease;
        -webkit-transition: all 0.9s ease;
        -moz-transition: all 0.9s ease;
        -ms-transition: all 0.9s ease;
        -o-transition: all 0.9s ease;
    }
    .rgba{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.5);
        display: none;
        z-index: 500;
        cursor: pointer;
    }
    .rgba.active{
        display: block;
        transition: all 0.9s ease;
        -webkit-transition: all 0.9s ease;
        -moz-transition: all 0.9s ease;
        -ms-transition: all 0.9s ease;
        -o-transition: all 0.9s ease;
    }
}
