{% extends "base.html" %}
{% load static %}
{% block csslink %}<link rel="stylesheet" href="{% static 'style/login.css' %}">{% endblock csslink %}
{% block header %}
    <section class="login">
        <div class="container-login">
            <h1>Connexion</h1>
            <form action="">
                <label for="name" id="name">Nom d'utilisateur</label><br>
                <input type="text" id="name" name="name" required>
                <i class="fa-solid fa-user first"></i>
                <br>
                <label for="password" id="password">Mot de passe</label>
                <br>
                <input type="password" id="password" name="password" required>
                <i class="fa-solid fa-lock second"></i>
                <br>
                <button type="submit">Se connecter</button><br>
                <p>Veuillez compléter vos informations de connexion <br><span><strong>Pour plus de détail</strong><br><span><a href="{% url "Politiques" %}" class="politique">Consultez notre politique de confidentialité</a></span></span><span>  <a href="{% url "register" %}" class="pas_de_compte">pas de compte?</a></span></p>
            </form>
        </div>
    </section>
{% endblock header %}
{% block footer %}
    <footer class="footer-content">
        <div class="logo">
            <img src="{% static 'photos/logo.jpg' %}" alt="logo" width="80px">
        </div>
        <div class="contact-info">
            <h3>Contactez-nous</h3>
            <p><i class="fas fa-phone"></i> +243 123 456 789</p>
            <p><i class="fa-solid fa-location-pin"></i> 02, Des écuries, Institut Kilimani-Ngaliema(Kinshasa,RDC).</p>
        </div>
    </footer>
{% endblock footer %}

